h1 {
	text-align: center;
	margin: 2px 0 15px 0;
	font: Calibri;
}
.actionButtons{
	text-align: center;
}
body
{
 background-color: #c979c9;
}

h4{
	font-weight: bold;
}

.quest {
  border: 1px dotted black;
  margin: 5px 0px 5px 10px;
  background-color: #fce3fc;
  padding: 5px 15px;
}

/*
Implement more styles to ensure questions are displayed and printed correctly (as per the PDF file for questions and answers).
*/

/* The below media query ensures that the buttons are not visible in print */
@media print {
	div.actionButtons {
		display: none !important;
	}
}